<h1 class="text-center mt-5">404 - Page Not Found</h1>
<p class="text-center">The page you are looking for does not exist.</p>
<a href="/" class="btn btn-primary d-block w-50 mx-auto mt-3">Go to Home</a>